# ===============================
# Execution Config
# ===============================
EXECUTION_MODE=local
BROWSER=chrome
HEADLESS=false

# ===============================
# BrowserStack Config
# ===============================
BROWSERSTACK_ENABLED=false
BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=

BROWSERSTACK_BROWSER=chrome
BROWSERSTACK_BROWSER_VERSION=latest
BROWSERSTACK_OS=OS X
BROWSERSTACK_OS_VERSION=Ventura

BROWSERSTACK_PROJECT=Parabank Automation
BROWSERSTACK_BUILD=Local Build
BROWSERSTACK_NAME=Hybrid Test