# Copy this file to .env and replace values with real credentials

PARABANK_USERNAME=your_username
PARABANK_PASSWORD=your_password

BROWSERSTACK_USERNAME=your_username
BROWSERSTACK_ACCESS_KEY=your_access_key