# IDE
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
venv/

# OS files
.DS_Store

# Reports
test-output/
allure-results/
allure-report/

# Test artifacts
test-output/

# Environment files
.env
.env.*
!.env.example